.add-todo__input {
    height: 2rem;
    width: 100%;
    border: none;
    background-color: var(--light-gray);
    border-radius: .3rem;
    padding: .5rem;
    font-size: 0.8rem;

    &:focus {
        outline: none;
    }
}

.todo__edit {
    background-color: white;
    border: none;
    display: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}