.todo__grabber {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 0.4rem;
    width: 0.5rem;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &::after,
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #999999;
        position: absolute;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}