:root {
    /* color values */
    --light-gray: #f0f0f0;
    --strong-blue: #2f43db;
    --delete-red: #eb202f;
    --ok-green: #25e858;
    --move-arrows: #000000;
    --text-color: #999999;
    --white: white;
    --black: black;
}

.darkmode {
    --light-gray: #111111;
    --move-arrows: #ffffff;
    --text-color: #dddddd;
    --white: black;
    --black: white;
    --delete-red: #ef445a;
    --strong-blue: #4a56ef;
}
