.todo__input-field {
    height: 2rem;
    width: 100%;
    border: none;
    background-color: var(--light-gray);
    border-radius: .3rem;
    padding: .5rem;
    font-size: 0.8rem;

    &:focus {
        outline: none;
    }
}