.todo__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .todo__title {
        flex-grow: 1;
        max-width: calc(100% - 4rem);
        position: relative;

        &--edit {
            .todo__label {
                display: none;
            }

            .todo__edit {
                display: block;
            }
        }
    }
}

