.remove-all-items {
    width: 4rem;
    border-radius: .3rem;
    appearance: none;
    border: none;
    background-color: var(--delete-red);
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}