h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.todo__label,
.todo__edit {
    font-size: 1.2rem;
    line-height: 140%;
    color: var(--black);
}

.todo--completed .todo__label {
    text-decoration: line-through;
    color: var(--text-color);
}
